# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\20stu_File\ideaProject\exam_qb_ssm\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
